body {
    background-color:#FFF1DF;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}

/* PAGES */
.front {
	margin-left: 2%;
	margin-right: 2%;
	margin:;
	border:5px solid #B68A7E;
	border-radius:10px;
	padding:5%;
	padding-top:10%;
	text-align: center;
	background-image: url('http://i68.tinypic.com/o0rsic.jpg');
	background-size: cover;
	background-color: white;
	color:white;
	font-family: 'Julius Sans One', sans-serif;
}
		#title {
			font-size:100px;
			font-weight:normal;
			padding-top:200px;
		}
		#start {
			background-color: #B68A7E;
			font-weight:bold;
			padding:50px;
			margin-bottom:300px;
			font-size:50px;
			width:500px;
			border-radius:5px;
			border:4px solid #B68A7E;
		}
		#start:hover {
			background-color: #9A6F53;
			border-color: #9A6F53;
			cursor: pointer;
		}
.quiz {
	margin:2%;
	margin-top:5%;
	padding:5%;
	align-self: center;
	background-color: white;
	display:none;
	border:5px solid #B68A7E;
	border-radius:10px;
	font-family: 'PT Sans', sans-serif;
}
		#num {
			font-size:50px;
			text-align: center;
			max-height: 999999px;
			-webkit-text-size-adjust: none;
		}
		#q {
			margin-bottom:40px;
			padding-top:0px;
			padding-left:10px; 
			padding-bottom:10px;
			font-size:55px;
			font-weight: bold;
			border-radius:5px;
			max-height: 999999px;
			-webkit-text-size-adjust: none;
		}
		.radio {
			padding-bottom:2%;
		}
		/* Hides default radio buttons */
		.radio input {
			position: absolute;
			opacity: 0;
		}
		/* Custom Unchecked Buttons */
		.circ {
			content:"";
			display:inline-block;
			height:35px;
			width:35px;
			margin-right: 0.5em;
			vertical-align: -2px;
			background-color:transparent;
			border: 2px solid black;
			border-radius: 50%;
			/*padding: 0.13em;
			background-clip: content-box;*/
		}
		/* Custom Checked Button */
		.radio input:checked ~ .circ {
			background-color:black;
		}
		#op1,#op2,#op3,#op4 {
			background-color: #EFEFEF;
			margin-bottom:2.5%;
			padding:8px;
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 4%;
			border-radius:25px;
			font-size:48px;
		}
		#op1:hover,#op2:hover,#op3:hover,#op4:hover {
			background-color: #C9C9C9;
			cursor: pointer;
		}
		#empty {
			color:red;
			font-size:40px;
			font-weight:bold;
			text-align:center;
			display:none;
		}
		#sub {
			background-color: #FFF1DF;
			padding: 50px;
			border-radius:30px;
			border:4px solid #B68A7E;
			width:500px;
			font-size:50px;
		}
		#sub:hover {
			background-color: #B68A7E;
			cursor:pointer;
		}
.result {
	margin-left:2%;
	margin-right:2%;
	margin-top:15%;
	padding:5%;
	padding-bottom:250px;
	padding-top:10%;
	height:350px;
	text-align: center;
	background-color: white;
	display: none;
	border:5px solid #B68A7E;
	border-radius:10px;
	font-family: 'PT Sans', sans-serif;
}
		#score {
			font-size:60px;
			font-weight: bold;
			color: black;
		}
		#message {
			font-size: 50px;
			color: black;
			margin-bottom: 20px;
		}
		#viewAns {
			top:10px;
			background-color: #FFF1DF;
			padding: 50px;
			border-radius:30px;
			border:4px solid #B68A7E;
			width:700px;
			font-size:50px;
		}
		#viewAns:hover {
			background-color: #B68A7E;
			cursor:pointer;
		}
.answers {
	margin:2%;
	margin-top:2%;
	padding:5%;
	padding-top:2%;
	padding-bottom:14%;
	align-self: center;
	background-color: white;
	display:none;
	border:5px solid #B68A7E;
	border-radius:10px;
	font-family: 'PT Sans', sans-serif;
	font-size:50px;
	max-height: 999999px;
	-webkit-text-size-adjust: none;
}
		.genAns {
			color:#077C00;
			font-weight: bold;
		}
		.indent {
			padding-left:2em;
		}
		#tryAgain {
			position:fixed;
			height:10%;
			width:100%;
			bottom:0;
			left:0;
			background-color:#FFF1DF;
			color:black;
			font-size:40px;
			font-weight:bold;
			border: 4px solid #B68A7E;
		}
		#tryAgain:hover {
			background-color: #B68A7E;
			cursor:pointer;
		}
/* PAGES END */
