body{
        background-color:#FFF1DF;
		/*background-color:red;*/
}
		/* PAGES */
        .front{
            margin:2%;
            outline:4px solid #B68A7E;
            padding:5%;
            /*height:335px;*/
            padding-top:10%;
            text-align: center;
            background-color: white;
            color:black;
            font-family: 'Quicksand', sans-serif;
        }
		.quiz{
            margin:2%;
            margin-top:5%;
            padding:5%;
            align-self: center;
            background-color: #FFF1DF;
            display:none;
            color:#40c2f2;
            border:5px solid #B68A7E;
            font-family: 'PT Sans', sans-serif;
        }
        .result{
            margin:2%;
            padding:5%;
            padding-top:40%;
            height:330px;
            text-align: center;
            background-color: white;
            display: none;
            font-family: 'PT Sans', sans-serif;
        }
		.answers{
            margin:2%;
            margin-top:5%;
            padding:5%;
            align-self: center;
            background-color: white;
            display:none;
            color:#71d1f4;
            border:5px solid white;
            font-family: 'PT Sans', sans-serif;
            font-size:20px;
        }
		/* PAGES END */
		
        input[type="radio"] {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        .radio{
             
             
             padding-bottom:4%;
             
        }
        .radio label:before {
          content: "";
          display: inline-block;
          width: 15px;
          height:15px;
          margin-right: 0.5em;
          vertical-align: -3px;
          border: 2px solid #666666;
          padding: 0.13em;
          background-color: transparent;
          background-clip: content-box;

        }
        .radio label {
          margin-right: 1em;
        }
        .radio input:hover + label:before {
          border-color: #71d1f4;
        }
        .radio input:checked + label:before {
          background-color: #71d1f4;
          border-color: #71d1f4;
        }
        .arrow{
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 24px solid white;
            position: relative;
            left:30px;
        }
		#title {
			font-size:100px;
			font-weight:normal;
		}
		#start {
            background-color: #FFF1DF;
            font-weight:bold;
            padding:8px;
            font-size:50px;
            width:500px;
            border-radius:5px;
			border:4px solid #B68A7E;
        }
		#start:hover {
			background-color: #B68A7E;
		}
		#num{
            background-color:white;
            font-size:40px;
            border-radius:30px;
            padding-left:2%;
            color:#40c2f2;
            width:45px;
        }
        #q{
            background-color: white;
            padding-top:10px;
            padding-left:10px; 
            padding-bottom:10px;
            font-size:60px;
            font-weight: bold;
            border-radius:5px;
            
        }
        #op1,#op2,#op3,#op4{
            background-color: white;
            margin-bottom:2.5%;
            padding:5px;
            padding-left: 4%;
            border-radius:5px;
            font-size:50px;
        }
        #op1:hover,#op2:hover,#op3:hover,#op4:hover{
            background-color:#ffff99;
        }
        #sub{
            background-color: white;
            padding: 8px;
            border-radius:5px;
            border:none;
            width:200px;
            font-size:20px;
            color: #40c2f2;
			display: none;
        }
        
        .score{
            font-size:21px;
            font-weight: bolder;
            color: #40c2f2;
        }
        .message{
            font-size: 20px;
            color: #40c2f2;
        }
        .answers{
            display: none;
        }
		.genAns{
			color:#80ff00;
			font-weight: bold;
		}
		
/* Useless Code

.qa{
    color:#71d1f4;
}
#next{
        display:none;
}

#sub{
        display: none;
}
*/
